/*公用*/
body{min-width: 1000px;}
.header{position:relative;}
.comWidth{width:1000px;margin-left:auto;margin-right:auto;}
.hide{display: none;}
.show{display: block;}
.leftArea{float:left;}
.rightArea{float:right;}




/*topBar*/
.topbar{height:31px;background-color: #f7f7f7;line-height: 31px;}
.collection{background: url(../img/icon.jpg) left center no-repeat; padding-left: 17px;}
.topbar a:hover{color: red;}
.topbar .rightArea{margin-right: 21px;}

/*logo*/
.logobar{height:85px;background-color: #1D7AD9;}
.logo{padding-left: 39px;padding-top:13px;}
.searchbox{width:430px;margin-top: 23px;margin-left: 185px;background-color: pink;}
.searchtext{width:350px;height:35px;line-height:35px\9;padding:0 5px;background-color: #FFFFFF;}
.searchbtn{width:70px;height:35px;font-size:14px;font-family:"microsoft yahei","微软雅黑";background-color: #FF8C00;color:#FFF}

/*购物车*/
.shopcar{height:35px;line-height:35px;background-color: #FF8800;margin-top:23px;color:#FFF;margin-right: 59px;}
.shopText{font-size:14px;line-height:35px;font-family: "微软雅黑""microsoft yahei";width:87px;height:35px;border-right:#E27A00 1px solid;background: url(../img/shopcar1.png) 10px center no-repeat;text-indent: 40px;}
.shopNum{width: 27px;height: 35px;border-left: #FF9C01 1px solid;background: url(../img/trig.jpg) 33px center no-repeat;text-align: right;padding-right: 29px;}

/*导航栏*/
.navbox{height:35px;background-color: #1369C0;}
.navbox .h3{text-align: center;line-height: 35px;width:189px;display:block;float:left;}
.navbox .openIcon{background: url(../img/nav.jpg) left center no-repeat;display: inline-block;width: 11px;height:7px;overflow: hidden;margin-left: 11px;}
.navbox a{color: #000;height: 35px;display: inline-block;padding: 0 35px;line-height: 35px;}
.navbox li{float:left;height: 35px;}
.navbox .active{background-color: #4593FD;}
/*mainleft*/
.main{margin-top: 17px;position: relative;}
.mainleft{width:183px;border:1px solid #D7D7D7;}
.mainleft h3{text-align: center;border-bottom: 1px solid #CCCCCC;margin-bottom: -1px;}
.mainleft .item{border-top: 1px dotted #CCCCCC;padding-left:5px;}
.mainleft .item a{display: block;padding-left: 10px;}
.products{clear: both;}
.products .pic{}
.products a{float:left;width: 85px;}
/*mainright*/
.mainright{width:795px;position: relative;overflow: hidden;}
.box dl{clear: both;width:810px;border-bottom: 1px solid #CCC;}
.box dt,.dt{width:80px;text-align: right;float:left;margin-right: 38px;}
.box .dd{width:100px;margin-right:40px;float: left;}
.box dd{width: 70px;float:left;}
.box .list{width:500px;margin-left: 20px;}
.box li{float:left;width:125px;text-align: left;}
/*地址条*/
.adress{line-height: 31px;width:795px;height: 31px;background-color: #F5F5F5;}
.select span{float:left;margin: 0 8px;}
#addInfo{border:1px solid #666;width: 107px;height:20px;line-height:20px;margin-top:5px;float:left;background: url(../img/adress.jpg) 90% center no-repeat;padding-left: 5px;position: relative;}
#addchoose{width:100%;position: absolute;top:20px;left: -1px;z-index: 4;border: 1px solid #000000;background: #FFF;margin-bottom: -1px;display: none;}
#addchoose li:hover{background: #CCC;}
#check{vertical-align: middle;}
.adress .fr span{font-size: 9px;line-height: 31px;}

.classwrap{position: relative;padding-left: 10px;}
.goods{width:33.3%;position:relative;float: left;text-align: center;}
.goods .desc{line-height: 18px;text-align:left;}
.goods .price{}
.goods span{background: url(../img/star.jpg) left bottom no-repeat;display: inline-block;width:13px;height:12px;}
.turn{width:100%;text-align: center;padding-top: 20px;float: left;}
/*footer*/

.footer{text-align: center;margin: 40px 0 7px;background: #D6D6D6;/*position: absolute;left: 0;bottom: 0;*/float:left;width: 100%;}
.footer p{line-height: 24px;text-align: center;}
.footer a{color:#000000;border-right: 1px solid #000000;display:inline-block;height: 12px;line-height: 12px;padding: 0 4px 0 8px;}
.footer img{margin: 42px 12px 48px;}