/*main.css*/
html{color: #6f6f6f;}
body,p,div,i,span{margin: 0;padding:0;}
/*字体会有较大差异，没用苹方的原因*/
body{font-family:Helvetica;}
img{border:none;}
.fl{float: left;}
.fr{float: right;}

input{
    text-indent: 0;
    background: transparent;
    border: 0 none;
    resize:none; 
    outline:none;  
    -webkit-appearance:none;  
    line-height: 1.1333rem;  
	font-size: 0.3333rem;
    }
input::-webkit-input-placeholder { /* WebKit browsers */
    line-height: 0.44rem;   
}
input:focus {
    color: #8b8791;
}
.right{
	display: inline-block;
	width: 0.1867rem;
	height: 0.3333rem;
	margin: -0.0267rem 0.1733rem -0.0667rem 0.5467rem;
	background: url(images/right.png) no-repeat;
	background-size: contain;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent; 
}

.wrap{
	background: #f1f0f6;
	width:10rem;
}

.top_bar{
	width:100%;
	height: 1.1467rem;
	line-height: 1.1467rem;
	font-size: 0.4533rem;
	font-weight: bold;
	color: white;
	background: #2e2d33;
	text-align: center;
	border-bottom: #38373d solid 1px;
}

.guest_info{
	border-top: #4c4b51 solid 1px;
}
.guest_info div{
	width:100%;
	height: 1.1333rem;
	line-height: 1.1333rem;
	font-size: 0.3333rem;
	background: #ffffff;
	box-sizing: border-box;
	padding: 0 0.2933rem;
	margin-bottom: 2px;
}
.guest_info .ad:active{  
    box-shadow: inset 0 2px 5px #CCC,inset 0 -2px 5px #CCC;  
}
.name input,.tel input{
	margin-left: 0.5067rem;
}
#ad_detail{
	height: 2.1067rem;
	margin-bottom: 0.24rem;
}
#ad_detail input{
	width: 9rem;
	font-size: 0.3333rem;
	line-height: 0.3333rem;
	padding: 0.4933rem 0 0.2267rem;
}

.service div{
	width: 100%;
	height: 1.1333rem;
	line-height: 1.1333rem;
	font-size: 0.3333rem;
	background: #ffffff;
	box-sizing: border-box;
	padding: 0 0.2933rem;
	margin-bottom: 1px;
}
.service div:active{  
    box-shadow: inset 0 2px 5px #CCC,inset 0 -2px 5px #CCC;  
}
.service>.circle{
	margin-bottom: 2px;
}
.service .since{
	padding: 0 1.2rem 0 0.2933rem
}
#time{
	margin-bottom: 0.24rem;
}

.goods{
	margin-bottom: 1.3733rem;
}
.goods div{
	width: 100%;
	height: 1.1333rem;
	line-height: 1.1333rem;
	font-size: 0.3333rem;
	background: #ffffff;
	box-sizing: border-box;
	padding: 0 0.2933rem;
	margin-bottom: 2px;
}
.goods div:active{  
    box-shadow: inset 0 2px 5px #CCC,inset 0 -2px 5px #CCC;  
}
.goods .quantity{
	padding: 0 1.2rem 0 0.2933rem;
}

.add_more{
	display: inline-block;
	font-size: 0.3333rem;
	text-align: center;
	width: 100%;
	height: 1.1333rem;
	margin-bottom: 0.4667rem;
	background: #FFF;
}
.add_more p{
	line-height: 1.1333rem;
}
.add_more .plus{
	display: inline-block;
	width:0.32rem;
	height: 0.3333rem;
	margin: -0.0267rem 0.1867rem;
	background: url(images/plus.png) no-repeat;
	background-size: contain;
}
.add_more:active{  
    box-shadow: inset 0 2px 5px #CCC,inset 0 -2px 5px #CCC;  
}

.created{
	text-align: center;
	width:100%;
	height: 1.3067rem;
	line-height: 1.3067rem;
	font-size: 0.3333rem;
	color: #FFF;
	background: #81cd4e;
}
.created:active{  
    box-shadow: inset 0 5px 10px #FFF,inset 0 -5px 10px #FFF;  
}